[run]
source =
    todolist_app

omit =
    env/*
    */test*
    */__init__.py
    *migrations/*
    *apps.py*
    *admin.py*
    env.py

[report]
exclude_lines =
    pragma: no cover
    def setUp
    def test_
    return raw_input